
@{
    ViewBag.Title = "ActionError";
}

<h1><div class="alert alert-warning" role="alert" style="color: red">Cảnh Báo: Bạn không có quyền hạn trong chức năng này của corevn.net! Vui lòng liên hệ tungldinfo@gmail.com để được cấp quyền, tks!!!</div></h1>

