
<div class="panel-body">@Html.ActionLink("CÔNG NGHỆ & THỦ THUẬT", "Tech", "Home")</div>
<div class="panel-body">@Html.ActionLink("CUỘC SỐNG", "Life", "Home")</div>
<div class="panel-body">@Html.ActionLink("NGHỊCH NGỢM", "Naughty", "Home")</div>
